<div class="container">
  <div class="row">
    <div class="col-12">
      <button type="button" class="btn btn-primary"><h1><strong>Cidon Marketplace</strong></h1></button>
    </div>
  </div>
</div>
