<div class="container">
  <div class="row">
    <div class="d-grid gap-2 col-6 mx-auto">
      <button type="button" class="btn btn-success btn-lg"><h1><strong>Cidon Marketplace</strong></h1></button>
    </div>
  </div>
</div>
